// Dir.tsx的容器
.container {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	height: 400px;
	background-color: white;
	overflow-y: auto;
}
// 选择文本样式
.textSelect {
	color: #ff552e;
	font-weight: bolder;
	font-size: 1.2rem;
}
