// Dir.tsx的容器
.container {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	height: 400px;
	background-color: white;
	overflow-y: auto;
}

// 单行文本显示
%one-line {
    display: block;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

// 还没选择之前的文本样式
.unTextSelect {
    @extend %one-line;
}
// 选择文本样式
.textSelect {
	color: #ff552e;
	font-weight: bolder;
	font-size: 1.2rem;
    // 单行文本显示
    @extend %one-line;
}
