.container {
	display: flex;
	height: 100%;
}

// 朋友列表的css
.friends {
	width: 300px;
	height: 100%;
	border-right: 1px solid gray;
	overflow-y: auto;
	cursor: pointer;
}
// 聊天页面的css
.chat {
	width: calc(100% - 300px);
	height: 100%;
}
