// comon css
%border--right {
	border-right: 1px solid gray;
}
// 容器
.container {
	display: flex;
	height: 100%;
	// 左侧的朋友列表
	.friends--left {
		width: 300px;
		height: 100%;
		@extend %border--right;
		overflow-y: auto;
		cursor: pointer;
	}
	// 中间的租客信息
	.info--middle {
		width: 300px;
		@extend %border--right;
	}
	// 右侧的聊天界面
	.chat--right {
		width: calc(100% - 600px);
		height: 100%;
	}
}
