/**
 * 组件描述: 全局CSS样式
 * 作者: 苏柏良
 * 时间: 2021-01-17
 */
// 屏幕全屏显式
html,
body,
#root {
	height: 100%;
}
// 居中
.position-center {
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
}
// 白色文本
.text {
	color: white !important;
}
// 文本居中
.text-align {
	text-align: center;
}
